/*!
 * Common CSS files
 */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-size: 17px;
  line-height: 30px;
  color: #293341;
  font-weight: 500;
}

.sectionPadding {
  padding: 75px 0 75px 0;
  position: relative;
}

.imgResponsive {
  width: 100%;
}

.imgHeightResponsive {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

a {
  color: #272570;
  text-decoration: none;
  outline: none;
  box-shadow: none !important;
}

a:hover {
  color: #eb001b;
}

.positionRelative {
  position: relative;
}

.clearfix {
  clear: both;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.flexCol {
  display: flex;
}

.m-150 {
  margin-left: 150px;
  margin-right: 150px;
}

b,
strong {
  font-weight: 700;
}


/*----------------------------- Color & Backgrounds ------------------------------------------*/
.greyBg {
  background-color: #f7f7f7 !important;
}

.blueBg {
  background-color: #293341 !important;
}

.blackBg {
  background-color: #1e1e1e !important;
}

.redBg {
  background-color: #eb001b !important;
}

.imageBackground01 {
  background: url(../images/background-02.jpg) no-repeat center center;
  background-size: cover;
}

.imageBackground02 {
  background: url(../images/banner-bg.jpg) no-repeat left top;
  background-size: cover;
}

.imageBackground03 {
  background: url(../images/background-03.jpg) no-repeat center top;
  background-size: cover;
}

.text-red {
  color: #eb001b !important;
}

.text-blue {
  color: #293341 !important;
}

.underLineHeading {
  border-bottom: 1px solid #e2e2e2;
  max-width: 100%;
  padding-bottom: 16px;
  margin-bottom: 25px;
}

.borderTop {
  border-top: 1px solid #e2e2e2;
  max-width: 100%;
  padding: 20px 0px 0px 0px;
  margin-top: 25px;
}

.blueBg p,
.blueBg h2,
.blueBg h1,
.blueBg h3,
.blueBg ul li {
  color: #fff !important;
}

/*----------------------------- Heading & Buttons ------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #293341;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  margin: 0 0 22px;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  padding: 0 0 12px 0;
  line-height: 40px;
  margin: 0 0 0px 0;
  color: #293341;
}

h2 span {
  color: #eb001b;
  font-weight: 700
}

h3 {
  font-size: 27px;
  line-height: 32px;
  font-weight: 500;
  padding: 0px 0 0px 0;
  margin: 0 0 12px 0;
}

h4 {
  font-size: 23px;
  line-height: 27px;
  font-weight: 700;
  margin: 0 0 10px 0px;
}

h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin: 0 0 12px;
  font-family: "Roboto", sans-serif;
}

.ctaBlock h5,
.mainBanner h5 {
  font-family: "Mulish", sans-serif;
}

h6 {
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
  font-family: "Mulish", sans-serif;
}

p {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 15px;
}

p.highlightedText {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

ul.listing01 li {
  margin-bottom: 3px;
  line-height: 27px;
}

ul.listing01 span {
  font-weight: 600;
}

.customBtn01 {
  padding: 6px 22px 8px 22px !important;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  border-radius: 5px;
  margin: 0px 0 0px 0px;
  min-width: 115px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none !important;
}

.customBtn01.blackBg:hover {
  background-color: #e12426 !important;
  color: #ffffff;
}

.customBtn01.redBg:hover,
.customBtn01.bg-white:hover,
.customBtn01.blueBg:hover,
a.blueBg:hover {
  background-color: #1e1e1e !important;
  color: #ffffff !important;
}

.customBtn01.bg-white {
  border: 1px solid #dddddd !important;
}

.actionBtnMob button.customBtn01.bg-white {
  border: 1px solid #dddddd;
}

.headingBlock h2 {
  padding-bottom: 0px;
}

/*----------------------------- Top Bar ------------------------------------------*/
.topBar {
  padding: 0px 0px;
  color: #ffffff;
}

.topBar .topInfoList li {
  margin: 0px 0px;
  padding: 12px 15px 13px 15px;
  list-style-type: none;
  border-right: 2px solid #404956;
}

.topBar .topInfoList li:last-child {
  border-right: 0px solid #404956;
  padding-right: 0px;
}

.topBar .topInfoList li a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.topBar .topInfoList li a:hover {
  color: #e5ee06;
}

.topBar p {
  font-size: 17px;
}

.topBar p a {
  color: #e5ee06;
}

.topBar p a:hover {
  text-decoration: underline;
}

/*----------------------------- Navigation Block ------------------------------------------*/
header,
.shadow {
  box-shadow: 0 1px 9px 0px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 1px 9px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 1px 9px 0px rgba(0, 0, 0, 0.13);
}

.navbar-brand {
  max-width: 220px;
}

.navbar {
  padding: 17px 0px;
}

.navbar-nav .nav-link {
  color: #303030;
  font-size: 16px;
  font-weight: 500;
  padding: 0px !important;
  margin: 0px 12px 0px 12px;
  font-family: "Roboto", sans-serif;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #e12426;
}

.dropdown-menu {
  border-radius: 5px;
}

a.dropdown-item {
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid #e3e6ec;
  padding: 7px 15px;
}

a.dropdown-item:last-child {
  border-bottom: 0px solid #e3e6ec;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: #293341;
}

.headerIcons li {
  display: inline-block;
  list-style-type: none;
  padding-left: 20px;
}

.headerIcons li svg {
  font-size: 17px;
  color: #303030;
}

span.badge.redBg {
  border-radius: 50%;
  position: absolute;
  left: 28px;
  padding: 4px 3px;
  font-size: 15px;
  text-align: center;
  top: -10px;
  min-width: 23px;
}

.searchBarHeader {
    position: absolute;
    width: 34%;
    padding: 20px;
    border-radius: 5px;
    top: 76%;
    right: 0%;
    left: auto;
    z-index: 1;
    border: 1px solid #ced4da;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.10);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.3s ease;
}

.searchBarHeader input {
  border: 1px solid #e2e2e2;
}

.searchBarHeader.active {
    opacity: 1;
    max-height: 200px;
}

/*----------------------------- Banner ------------------------------------------*/
.mainBanner {
  position: relative;
  overflow: hidden;
  background: url('../images/banner-bg.jpg') no-repeat left top;
  background-size: cover;
  padding: 30px 0px;
}

.mainBanner .bannerContent {
  max-width: 440px;
  padding: 40px 0px;
}

.mainBanner .bannerContent h1 {
  margin: 5px 0px 10px 0px;
  font-size: 86px;
  line-height: 82px;
  color: #222222;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

.mainBanner .bannerContent h1 span {
  color: #e12426;
}

.innerBanner {
  max-height: 630px;
  overflow: hidden;
  position: relative;
}

.innerBanner .bannerContentOuter {
  position: relative;
  height: 100%;
}

.innerBanner .overlay {
  background-color: rgba(4, 20, 56, 0.75);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 770px;
}

.innerBanner .bannerImage {
  position: absolute;
  width: 100%;
  height: 100%;
}

.innerBanner .bannerContent {
  padding: 150px 0px 150px 0px;
  height: inherit;
  max-width: inherit;
  max-height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.innerBanner .bannerContent h1 {
  margin-bottom: 0px;
  font-size: 56px;
  line-height: 62px;
  color: #fff;
}

.smallBannerOffers {
  border: 10px solid #fff;
}

/*----------------------------- All Content -------------------------------------------*/


.imgThumbBorder {
  border-radius: 5px;
  overflow: hidden;
  border: 3px solid #a3a3a3;
}

.blog {
  border: 1px solid #e0e0e0;
  margin-top: 30px;
}

.blogInfo {
  padding: 26px 30px;
  border-top: 0px solid #000;
}

.blogInfo h5 {
  font-weight: 500;
}

.blogDate {
  font-family: "Roboto", sans-serif;
  color: #e12426;
  padding-bottom: 5px;
}

.blog p {
  line-height: 27px;
}

.iconBox {
  padding: 35px 10px 30px 10px;
  border-radius: 5px;
  transition: 0.3s;
  background: #f8f9fa;
  text-align: center;
  margin-bottom: 10px;
}

.iconBox .icon svg {
  font-size: 40px;
  color: #eb001b;
}

.iconBox p {
  color: #293341 !important;
  margin-bottom: 0px;
  line-height: 25px;
}

tr.tableHeading th {
  background-color: #eb001b;
  color: #ffffff;
}

.jobCard {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}

.policyTextBlock h5 {
  margin-top: 30px;
}

.faqTable td:first-child {
  font-weight: 700;
  min-width: 200px;
}
/*----------------------------- Products pages  -----------------------------------------*/

.productSliderOuter {
  padding: 25px 13px;
}

.productList {
    margin-top: 25px;
  }

  .product {
    margin-bottom: 25px;
  }


.productThumb {
  border: 1px solid #dddddd;
  background-color: #ffffff;
  text-align: center;
}

/*.productThumb img {
  max-width: 270px;
}*/

.productThumb img {
  max-width: 270px;
  object-fit: contain;
  height: 270px;
  width: 100%;
}

.productInfo {
  padding: 11px 10px 10px 7px;
}

.productModel {
  color: #82817f;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 7px;
}

.productInfo h6 {
  line-height: 23px;
}

.productRating .fa-star {
  color: #E8E8E8;
  font-size: 15px;
}

.productRating .checked {
  color: #FABF46;
}

.productPrice {
  font-size: 20px;
}

.actionBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: .5s ease;
  backface-visibility: hidden;
}

.actionBtn button {
  width: 170px;
  border: 0px;
  margin: 5px 0px;
  padding: 9px 18px 11px 18px !important;
  font-size: 17px;
}

.product:hover .actionBtn {
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.product:hover .productThumb img {
  opacity: 0.6;
}

.categoriesBox {
  border: 1px solid #dddddd;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin-top: 25px;
}

.categoriesBox .categoriesName {
  height: 55px;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0px 12px;
  background-color: #fff;
}

.categoriesBox:hover .categoriesName {
  color: #eb001b;
}

.categories-list-group-item.categories-list-group-item-action.collapsed {
  background-color: #efefef;
  color: #55544f;
}
.categories-list-group-item.categories-list-group-item-action.active, 
.categories-list-group-item.categories-list-group-item-action:hover {
  background-color: #eb001b;
  color: #fff;
}

.productCategoriesFilter ul li .subCatBg a, .subCatBg .categories-list-group-item.categories-list-group-item-action.collapsed {
  background-color: #293341;
  color: #fff;
  padding: 6px 14px;
}
/*----------------------------- Product Detail pages  ---------------------------------------*/

.productLargeThumb {
  border: 1px solid #dddddd;
  width: 95%;
}

.productThumbnailList {
  width: 95%;
}

.productDetail .productModel {
  font-size: 18px;
  margin: 10px 0px 10px 0px;
}

.productDetail .productPrice {
  font-size: 28px;
  margin: 10px 0px 10px 0px;
}

.thumbImg {
  width: 24%;
  border: 1px solid #dddddd;
  text-align: center;
  background-color: #fff;
}

.thumbImg img {
  height: 100%;
  width: 80%;
}

.cart-box,
.productThumbnailList {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.qty-box {
  display: flex;
  border: 1px solid #ccc;
  width: fit-content;
}

.qty-box button {
  width: 40px;
  height: 42px;
  border: none;
  background: #f5f5f5;
  cursor: pointer;
  font-size: 18px;
}

.qty-box input {
  width: 50px;
  text-align: center;
  border: none;
  outline: none;
}

.shipBy input {
  width: 250px;
  outline: none;
  border: 1px solid #ccc;
  padding: 0px 10px;
  margin-right: 10px;
}

.productDetailInfo .tab-pane {
  border: 0px solid #000;
}

.productDetailInfo .accordion-body {
  padding: 30px 20px;
}

.productDetailInfo .nav-tabs .nav-link {
  margin: 0px 0px;
  border: 0px;
  background-color: #f5f5f5;
  padding: 13px 20px;
  font-size: 19px;
  margin-right: 10px;
  color: #293341;
  border: 1px solid #ddd;
  border-bottom: 0px;
}

.productDetailInfo .nav-tabs .nav-link.active,
.productDetailInfo .nav-tabs .nav-link:hover {
  background-color: #293341;
  color: #ffffff;
}

.spec-table {
  width: 70%;
  border-collapse: collapse;
  margin-top: 15px;
  margin-bottom: 35px;
}

.spec-table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
}

.spec-table td:first-child {
  background-color: #f5f5f5;
  width: 40%;
}

.productRating.productRatingLarge svg {
  font-size: 19px;
}

.verified {
  background-color: #f7f7f7;
  border: 1px solid #dddddd;
  font-size: 15px;
  font-weight: 700;
  padding: 5px 10px;
  margin-left: 5px;
}

/*----------------------------- Products Filter pages  ---------------------------------*/

.productCategoriesFilter ul li {
  list-style-type: none;
  margin: 0px 0px 3px 0px;
  padding: 0px;
  border-radius: 5px;
}

.productCategoriesFilter ul li a,
.userProfileTabs-links li button,
.userProfileTabs-links li a {
  color: #55544f;
  padding: 9px 14px;
  font-size: 16px;
  display: block;
  font-weight: 600;
  background-color: #efefef;
  width: 100%;
  text-align: left;
}

.productCategoriesFilter ul li a:hover,
.userProfileTabs-links li button:hover,
.userProfileTabs-links li a:hover,
.userProfileTabs-links li button.nav-link.active,
.userProfileTabs-links li a.nav-link.active {
  color: #ffffff !important;
  background-color: #eb001b;
}

.sortBy label {
  width: 90px;
  margin-right: 10px;
  font-weight: 600;
}

.paginationOuter {
  border-top: 1px solid #e2e2e2;
  width: 100%;
  padding-top: 25px;
  margin-bottom: 20px;
}

.paginationOuter .page-link {
  color: #293341;
}

.page-link.active,
.active>.page-link,
.paginationOuter .page-link:hover {
  color: #ffffff;
  background-color: #eb001b;
  border-color: #eb001b;
}

/*----------------------------- Form Fields ------------------------------------------------*/
.form-control {
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin-bottom: 5px;
  font-size: 17px;
  box-shadow: none !important;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  height: 45px;
}

textarea.form-control {
  margin-bottom: 10px;
  margin-top: 0px;
  height: 180px;
}

label span {
  color: rgb(255, 0, 0);
  font-weight: 500;
}

.loginBlock {
  max-width: 500px;

}

.loginForm {
  border: 10px solid #fff;
  padding: 30px;
}

/*----------------------------- User Profile ------------------------------------------------*/

.userProfileBanner {
  padding: 50px 0px;
}

.welcomeUser {
  position: relative;
  bottom: 10px;
}

.userProfileImage {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
  z-index: 1;
}

.userProfileImage a {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
  margin-bottom: 10px;
}

.userProfileTabs .userProfileTabs-content {
  display: none;
  padding: 0px 15px 15px 40px;
}

.userProfileTabs .userProfileTabs-content.active {
  display: block;
}

.userProfileTabs .userProfileTabs-links .nav-link {
  cursor: pointer;
  margin-bottom: 5px;
  color: #303030;
  font-weight: 600;
}

.profileInfoOuter {
  margin-top: 120px;
}

button svg,
.userProfileTabs-links a svg {
  margin-right: 8px;
}

.userProfileTabs-content-inner .underLineHeading {
  padding-bottom: 7px;
}

/*----------------------------- Order Detail ------------------------------------------------*/

.order-box {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
}

/* Small product image */
.product-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* Alternate item rows */
.product-row:nth-child(odd) {
  background: #f7f7f7;
}

/* Timeline */
.timeline {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  height: 3px;
  background: #ddd;
}

.timeline-step {
  position: relative;
  text-align: center;
  flex: 1;
}

.timeline-step span {
  display: inline-block;
  background: #ddd;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 25px;
  color: #fff;
}

.timeline-step.active span {
  background: green;
}

.timeline-step p {
  margin-top: 5px;
}

/*----------------------------- Cart/Checkout -----------------------------------------------*/
/* Card */
.shopCartBox {
  background: #fff;
  margin-bottom: 20px;
}

/* Product image */
.product-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

/* Quantity buttons */
.shopCartBox .qty-box {
  display: flex;
  align-items: center;
}

.shopCartBox .qty-box button {
  width: 30px;
  height: 30px;
  border: none;
  background: #eee;
}

.shopCartBox .qty-box input {
  width: 40px;
  text-align: center;
  border: none;
}

/* Sticky summary */
.sticky-summary {
  position: sticky;
  top: 20px;
  padding: 20px;
}

/* Coupon */
.coupon-box input {
  border-radius: 5px 0 0 5px;
}

.coupon-box button {
  border-radius: 0 6px 5px 0;
}

/* Remove btn */
.remove-btn {
  color: #dc3545;
  cursor: pointer;
  font-size: 14px;
}


.checkout-box {
  background: #fff;
  padding: 20px;
}

/* Payment method box */
.payment-option {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.payment-option.active {
  border-color: #0d6efd;
  background: #eef5ff;
}


/*----------------------------- Accordion  ---------------------------------------*/

.accordion-header {
    margin-bottom: 0;
    padding-bottom: 0px;
}

.accordion-button {
    padding: 10px 18px;
    font-size: 19px;
    color: #293341;
}

.accordion-item {
    margin-bottom: 5px;
    border: 1px solid #dddddd !important;
    border-radius: 8px !important;
    overflow: hidden;
}

.accordion-button:not(.collapsed) {
  background-color: #f5f5f5 !important;
  box-shadow: none;
  font-weight: 600;
  color: #293341;
}

/*----------------------------- Footers ------------------------------------------------*/

.subscribeNews input,
.subscribeNews button {
  height: 75px;
  font-size: 18px;
}

footer {
  padding: 55px 0px 8px 0px;
}

footer ul {
  list-style-type: none;
  padding-left: 0px;
}

footer li a {
  margin-bottom: 3px;
  display: inline-block;
}

footer li a.active {
  color: #eb001b ;
}

footer li a,
footer h5 {
  color: #f7f7f7;
}

footer li span {
  margin: 0px 10px;
  color: #f7f7f7;
}

.footerMenuBlock {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 12px;
  margin-bottom: 24px;
}

.copyright p {
  font-size: 15px;
  color: #c9c9c9;
}


/*------------------------------------- Max-Width: 1600 ----------------------------------*/
@media (max-width: 1600px) {}


/*------------------------------------- Max-Width: 1199 ----------------------------------*/
@media (max-width: 1199.5px) {
  .topBar .topInfoList li {
    padding: 7px 12px 8px 12px;
  }

  .topBar .topInfoList li a {
    font-size: 15px;
  }

  .topBar p {
    font-size: 16px;
  }

  .navbar-brand {
    max-width: 180px;
  }

  .headerIcons li {
    padding-left: 15px;
  }

  .navbar-nav .nav-link {
    margin: 0px 7px 0px 7px;
  }

  .mainBanner .bannerContent h1 {
    font-size: 70px;
    line-height: 66px;
  }

  .customBtn01 {
    padding: 5px 22px 6px 22px !important;
    font-size: 15px;
  }

  .sectionPadding {
    padding: 55px 0 55px 0;
  }

  h2 {
    font-size: 28px;
    padding: 0 0 10px 0;
    line-height: 33px;
  }

  h4 {
    font-size: 21px;
    line-height: 24px;
  }

  h5 {
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 9px;
  }

  h6 {
    font-size: 15px;
    line-height: 18px;
  }

  p,
  ul li {
    font-size: 16px;
    line-height: 28px;
  }

  .categoriesBox .categoriesName {
    padding-bottom: 10px;
  }

  .productPrice {
    font-size: 18px;
  }

  .actionBtn button,
  .actionBtnMob button {
    width: 150px;
    margin: 4px 0px;
    padding: 7px 12px 9px 12px !important;
    font-size: 16px;
  }

  .blogInfo {
    padding: 20px 24px;
  }

  footer {
    padding: 46px 0px 8px 0px;
  }

  .subscribeNews input,
  .subscribeNews button {
    height: 60px;
    font-size: 16px;
  }

  .productCategoriesFilter ul li a {
    color: #55544f;
    padding: 8px 9px;
    font-size: 15px;
  }

  .qty-box button {
    height: 38px;
  }

  .productDetailInfo .nav-tabs .nav-link {
    padding: 11px 18px;
    font-size: 17px;
    margin-right: 8px;
    color: #293341;
  }

  .productDetailInfo .accordion-body {
    padding: 20px 15px;
  }

  .productRating.productRatingLarge svg {
    font-size: 17px;
  }

  .accordion-button {
    font-size: 16px;
  }
  .breadcrumb a, .breadcrumb li {
    font-size: 14px;
  }
}

/*------------------------------------- Max-Width: 991 ----------------------------------*/
@media (max-width: 991.5px) {

  .topBar .topInfoList li a {
    font-size: 14px;
  }

  .topBar p {
    font-size: 14px;
  }

  .navbar {
    padding: 6px 0px;
  }

  .navbar-toggler {
    background-color: #eb001b;
    border: 1px solid #fff;
    padding: 4px 5px 3px 6px;
    text-align: center;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  div#navbarNavDropdown {
    background: #293341;
    padding: 10px 16px;
    border-radius: 8px;
    z-index: 2;
  }

  svg.svg-inline--fa.fa-bars {
    color: #ffffff;
    font-size: 29px;
    margin-right: 1px;
  }

  .navbar-nav .nav-link {
    font-size: 15px;
    line-height: 16px;
    margin: 10px 10px 10px 10px;
    padding: 0px;
    color: #fff;
  }

  .dropdown-toggle::after {
    position: absolute;
    right: 0px;
    top: 16px;
  }

  a.dropdown-item {
    padding: 6px 10px 5px 10px;
    font-size: 14px;
    line-height: 21px;
  }

  .dropdown-menu {
    margin-inline-start: 0px;
  }

  .navbar .container {
    position: relative;
  }

  .headerIcons li {
    padding-left: 15px;
    margin-bottom: 0px;
  }

  .mainBanner .bannerContent {
    max-width: 440px;
    padding: 0px 0px;
  }

  .mainBanner .bannerContent h1 {
    font-size: 55px;
    line-height: 49px;
  }

  h5 {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 7px;
  }

  h6 {
    font-size: 14px;
    line-height: 16px;
  }

  h2 {
    font-size: 25px;
    line-height: 29px;
  }

  h3 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 18px;
    line-height: 19px;
  }

  p,
  ul li,
  body {
    font-size: 15px;
    line-height: 24px;
  }

  p {
    margin-bottom: 10px;
  }

  .customBtn01 {
    padding: 4px 16px 5px 16px !important;
    font-size: 13px;
    min-width: 90px;

  }

  .sectionPadding {
    padding: 45px 0 45px 0;
  }

  .underLineHeading {
    margin-bottom: 15px;
  }

  .categoriesBox {

    margin-top: 10px;
  }

  .productList {
    margin-top: 15px;
  }

  .product {
    margin-bottom: 15px;
  }

  .productInfo h6 {
    line-height: 19px;
  }

  .productModel {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 3px;
  }

  .productPrice {
    font-size: 16px;
  }

  .productRating .fa-star {
    font-size: 12px;
  }

  .actionBtn button,
  .actionBtnMob button {
    width: 110px;
    margin: 4px 0px;
    padding: 5px 7px 7px 7px !important;
    font-size: 13px;
    border: 0px;
  }

  .blog {
    margin-top: 20px;
  }

  .blogInfo {
    padding: 12px 15px;
  }

  .blogDate {
    font-size: 15px;
  }

  .blog p {
    line-height: 24px;
  }

  .subscribeNews input,
  .subscribeNews button {
    height: 50px;
    font-size: 15px;
  }

  footer li {
    line-height: 16px;
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 14px;
  }

  .footerMenuBlock {
    padding-bottom: 5px;
    margin-bottom: 15px;
  }

  .copyright p {
    font-size: 13px;
  }

  .productCategoriesFilter ul li a {
    padding: 7px 9px;
    font-size: 14px;
  }

  .paginationOuter {
    flex-direction: column;
  }

  .paginationOuter .pagination {
    margin-top: 15px;
  }

  .qty-box button {
    height: 32px;
    width: 30px;
  }

  .productDetailInfo .nav-tabs .nav-link {
    padding: 9px 18px;
    font-size: 16px;
  }

  .productDetailInfo .accordion-button {
    background-color: #f7f7f7;
    padding: 10px 15px;
    color: #293341;
    box-shadow: none !important;
  }

  .productDetailInfo .accordion-button:not(.collapsed) {
    background-color: #293341;
    color: #fff;
  }

  .productDetailInfo .accordion-header {
    padding-bottom: 0;
  }

  .productDetailInfo .accordion-body {
    padding: 15px 10px;
  }

  .spec-table {
    width: 100%;
  }

  .verified {
    font-size: 13px;
  }

  .productRating.productRatingLarge svg {
    font-size: 16px;
  }

  .form-control {
    height: 38px;
  }

  textarea.form-control {
    height: 160px;
  }

  .submitBtn {
    font-size: 14px !important;
  }

  .loginForm {
    padding: 20px;
  }

  footer {
    padding: 36px 0px 8px 0px;
  }

  .form-control,
  .productCategoriesFilter ul li a,
  .userProfileTabs-links li button,
  .userProfileTabs-links li a {
    font-size: 15px;
  }

  .userProfileTabs .userProfileTabs-content {
    padding: 0px 0px 15px 15px;
  }

  .iconBox .icon svg {
    font-size: 32px;
  }

  .iconBox {
    padding: 25px 10px 25px 10px;
  }

  .iconBox p {
    line-height: 22px;
  }

  .policyTextBlock h5 {
    margin-top: 20px;
  }

  .accordion-button {
    padding: 8px 16px;
  }

  .searchBarHeader {
    top: 61px;
  }
}

/*------------------------------------- Max-Width: 767 ----------------------------------*/
@media (max-width: 767.5px) {

  .topBar p {
    display: none;
  }

  .smallBannerOffers {
    border: 3px solid #fff;
  }

  .sectionPadding {
    padding: 30px 0 30px 0;
  }

  .ctaBlock ul {
    margin-top: 10px;
  }

  .productThumb {
    background-color: #fff;
    text-align: center;
  }

  .productCategoriesList .col-sm-3.col-lg-2.d-flex {
    width: 33%;
  }

  .actionBtn {
    display: none;
  }

  h2 {
    font-size: 23px;
    line-height: 27px;
  }

  h3 {
    font-size: 19px;
    line-height: 24px;
  }

  .copyright ul {
    text-align: left !important;
    margin-bottom: 2px;
  }

  .productLargeThumb,
  .productThumbnailList {
    width: 100%;
  }

  .tab-content .tab-pane {
    display: block !important;
    opacity: 1 !important;
  }

  footer {
    padding: 30px 0px 8px 0px;
  }

  .userProfileTabs {
    display: block;
  }

  .userProfileTabs .userProfileTabs-links {
    display: none;
  }

  .userProfileTabs .userProfileTabs-content {
    display: block;
    margin-bottom: 7px;
    padding: 0px 10px 0px 10px;
  }

  .tab-content-box {
    margin-top: 25px;
  }

  .userProfileTabs .userProfileTabs-content h2 {
    margin: 0;
    padding: 8px 12px;
    background: #f5f5f5;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    border-radius: 5px;
  }

  .userProfileTabs .userProfileTabs-content .userProfileTabs-content-inner {
    display: none;
    padding: 10px 10px 20px 10px;
  }

  .userProfileTabs .userProfileTabs-content.active .userProfileTabs-content-inner {
    display: block;
  }

  .userProfileTabs .userProfileTabs-content.active h2 {
    background: #eb001b;
    color: #fff;
  }

  .profileInfoOuter {
    margin-top: 150px;
  }

  .jobCard {
    padding: 15px;
  }

  .policyTextBlock h5 {
    margin-top: 15px;
  }

  .faqTable td:first-child {
    min-width: 100px;
  }

}

/*------------------------------------- Max-Width: 575 ----------------------------------*/
@media (max-width: 575.5px) {

  .smallBannerOffers {
    border: 6px solid #fff;
    margin-bottom: 10px;
  }

  .customBtn01 {
    padding: 4px 10px 5px 10px !important;
    font-size: 13px;
    min-width: 79px;
  }

  h5 {
    font-size: 15px;
    line-height: 20px;
  }

  .navbar-brand img {
    max-width: 170px;
  }

  .loginForm {
    padding: 15px 10px;
  }

  .order-box {
    padding: 10px;
  }

  .detailTable {
    overflow: hidden;
    overflow-x: scroll;
  }

  .jobCard {
    padding: 10px;
  }

  span.badge.redBg {
    border-radius: 50%;
    position: absolute;
    left: 13px;
    padding: 4px 3px;
    font-size: 12px;
    text-align: center;
    top: -12px;
    min-width: 21px;
  }

  .searchBarHeader {
    top: 58px;
  }

  .ourBrandList .col-lg-2.col-md-3.col-sm-4.d-flex {
    width: 48%;
  }
  
}

/*------------------------------------- Max-Width: 410 ----------------------------------*/
@media (max-width: 400.5px) {

  .navbar-brand {
    max-width: inherit;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0px;
    margin: 5px 0px 10px 0px;
  }

  .headerIcons.ms-auto {
    margin-left: 0px !important;
  }

  .headerIcons li {
    padding-left: 0px;
    padding-right: 15px;
    margin-bottom: 0px;
  }

  .cart-box {
    display: block;
  }

  .qty-box {
    margin-bottom: 20px;
  }

  .searchBarHeader {
    top: 99px;
  }


}



/*********************** categories ***************************/

ul.ps-0.active-0 {
  background: #efefef;
}
ul.ps-0.active-1 li a {
    background-color: #293341 !important;
    color: #fff;
    padding: 7px 12px;
    line-height: 20px;
}

ul.ps-0.active-1 li {
  margin-bottom: 1px !important;
}

ul.ps-0.active-2 li {
  margin-bottom: 0px !important;
}
ul.ps-0.active-2 li a {
    background-color: #efefef !important;
    color: #55544f;
}

ul.ps-0.active-1 li a:hover, ul.ps-0.active-1 li a.active {
  color: #eb001b !important;
}

ul.ps-0.active-3, ul.ps-0.active-4, ul.ps-0.active-5, ul.ps-0.active-6, ul.ps-0.active-7 {
    margin-left: 9px !important;
    background: #efefef;
    border-left: 1px solid #e2e2e2;
}

.partner {
    border: 1px solid #dddddd;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    margin-top: 25px;
    padding: 15px;
}
 
.partner .imgResponsive {
    max-width: 140px;
    height: 100px;
    object-fit: contain;
    width: 100%;
}

.coupon {
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
 
/* Coupon Cutouts */
.coupon:before,
.coupon:after {
  content: "";
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
 
.coupon:before {
  left: -20px;
}
 
.coupon:after {
  right: -20px;
}
 
.coupon-top {
  padding: 25px;
  text-align: center;
}
 
.sale-badge {
  display: inline-block;
  background: #fff;
  padding: 6px 15px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}
 
.discount {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
}
 
.discount span {
  font-size: 24px;
  vertical-align: top;
}
 
.off-text {
  font-size: 22px;
  font-weight: 700;
  margin-top: 5px;
  letter-spacing: 2px;
}
 
.description {
  margin-top: 15px;
  font-size: 15px;
  opacity: .95;
  line-height: 20px;
}
 
.divider {
  border-top: 2px dashed rgba(255, 255, 255, .4);
}
 
.coupon-bottom {
  padding: 20px;
  text-align: center;
}
 
.coupon-code {
  display: inline-block;
  background: #fff;
  color: #333;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}
 
.validity {
  margin-top: 12px;
  font-size: 13px;
  opacity: .9;
}